/corpus/preprocessed
/corpus/COVID.txt
/corpus/ELECCIONES_CATALUNYA.txt
/corpus/TEST_1.txt
/corpus/TEST_1.txt
/labels/label_dict/SEGUNDO_SERVICIO_ESCUCHA_MINTOPICSIZE_200.txt
/labels/label_dict/optimus_dictionary_SERVICIO_PRECISO_MINTOPICSIZE_85.txt
/labels/label_dict/optimus_dictionary_SERVICIO_PRECISO_MINTOPICSIZE_60.txt
/labels/label_dict/optimus_dictionary_SERVICIO_PRECISO_MINTOPICSIZE_30.txt
/labels/label_dict/optimus_dictionary_SEGUNDO_SERVICIO_ESCUCHA_MINTOPICSIZE_50.txt
/labels/label_dict/optimus_dictionary_SEGUNDO_SERVICIO_ESCUCHA_MINTOPICSIZE_200.txt
/labels/label_dict/optimus_dictionary_SEGUNDO_SERVICIO_ESCUCHA_MINTOPICSIZE_300.txt
/labels/label_dict/optimus_dictionary_EMBEDDING_CHILE_MINTOPICSIZE_85.txt
/labels/label_dict/optimus_dictionary_EMBEDDING_CHILE_MINTOPICSIZE_60.txt
/labels/label_dict/modelo_mixto.txt
/labels/label_dict/mixed_SERVICIO_PRECISO_MINTOPICSIZE_85.txt
/labels/label_dict/effective_dictionary_SERVICIO_PRECISO_MINTOPICSIZE_85.txt
/labels/label_dict/effective_dictionary_SERVICIO_PRECISO_MINTOPICSIZE_30.txt
/labels/label_dict/effective_dictionary_SEGUNDO_SERVICIO_ESCUCHA_MINTOPICSIZE_200.txt
/labels/label_dict
/labels/__pycache__
/labels/TSNE_centroid_representation/
/results/
/results/TEST_MINTOPICSIZE_100/
/results/TEST_MINTOPICSIZE_75/
/results/SERVICIO_PRECISO_MINTOPICSIZE_85/
/results/SERVICIO_PRECISO_MINTOPICSIZE_60/
/results/SERVICIO_PRECISO_MINTOPICSIZE_30/
/results/SEGUNDO_SERVICIO_ESCUCHA_MINTOPICSIZE_300/
/results/SEGUNDO_SERVICIO_ESCUCHA_MINTOPICSIZE_200/
/results/SEGUNDO_SERVICIO_ESCUCHA_MINTOPICSIZE_50/
/results/EMBEDDING_CHILE_MINTOPICSIZE_85/
/results/EMBEDDING_CHILE_MINTOPICSIZE_60/
/results/COVID/
/silhouette/silhouettes/
/silhouette/silhouettes/silhouette_TEST_MINTOPICSIZE_100_metric_cosine.pdf
/venv/
/visualization/UMAP_reducedDimensionality/COVID_2D_250neighbors.csv
/visualization/UMAP_reducedDimensionality/COVID_3D_250neighbors.csv
/visualization/UMAP_reducedDimensionality/SEGUNDO_SERVICIO_ESCUCHA_MINTOPICSIZE_200_2D_250neighbors.csv
/visualization/UMAP_reducedDimensionality/
/visualization/TSNE
/visualization/TSNE/tsne_result_SEGUNDO_SERVICIO_ESCUCHA_MINTOPICSIZE_200_negros_True.csv
/visualization/TSNE/tsne_result_SEGUNDO_SERVICIO_ESCUCHA_MINTOPICSIZE_200_negros_False.csv
/visualization/TSNE/tsne_result_COVID_negros_True.csv
/visualization/Intertopic/
/visualization/Intertopic/intertopic_SERVICIO_PRECISO_MINTOPICSIZE_85.html
/visualization/Intertopic/intertopic_SEGUNDO_SERVICIO_ESCUCHA_MINTOPICSIZE_1000.html
/visualization/Intertopic/intertopic_SEGUNDO_SERVICIO_ESCUCHA_MINTOPICSIZE_500.html
/visualization/Intertopic/intertopic_SEGUNDO_SERVICIO_ESCUCHA_MINTOPICSIZE_300.html
/visualization/Intertopic/TEST_MINTOPICSIZE_100.html
/visualization/Images/
/visualization/Images/UMAP_2D_1000Neighbors.png
/visualization/Images/Pintada(5).png
/visualization/Images/Pintada(2).png
/visualization/Images/pca2D(3).png
/visualization/__pycache__
/sentence_transformers
/transformers
new_preprocess.txt
centroides.txt
/__pycache__
/utils/__pycache__
/silhouette/__pycache__
/silhouette/silhouettes
complete_trial.txt
complete_trial2.txt
centroides.txt
centroides_preprocess_chile.txt
/images
/centroid_differences/__pycache__
/centroid_differences/representations
/escenario_multilabel

