!**/__pycache__
/corpus/preprocessed
/corpus/stats
/corpus/COVID.txt
/corpus/ELECCIONES_CATALUNYA.txt
/corpus/TEST_1.txt
/corpus/TEST_1.txt
/corpus
/labels/escenario_monolabel/label_dict/
/labels/escenario_multilabel/multilabel_dicts/
/labels/escenario_monolabel/__pycache__
/labels/__pycache__
/labels/TSNE_centroid_representation/
/labels/complete_evaluation.py
/results/
/silhouette/silhouettes/
/venv/
/visualization/UMAP_reducedDimensionality/
/visualization/TSNE
/visualization/Intertopic/
/visualization/Images/
/visualization/__pycache__
/sentence_transformers
/transformers
/__pycache__
/utils/__pycache__
/images
/centroid_differences/__pycache__
/centroid_differences/representations
./labels/escenario_multilabel/multilabel_dicts/
